
        .pro_name{
            height: 95px;
            font-size: 90px;
            line-height: 80px;
            font-weight: 700;
            font-family: "Articulat",Arial,sans-serif;
        }

        .desc{
            font-family: "Articulat",Arial,sans-serif;
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
        }
    
        .bottom{
            display: flex; 
            height: 32.5px;           
        }
        
        .variant div:nth-child(1n){
            width: 30px;
            margin-left: 30px;
            background-color: teal;
            border-radius: 4px;
        }
        .variant div:nth-child(2n){
            width: 30px;
            background-color: #3b5445;
            border-radius: 4px;
        }
        .variant div:nth-child(3n){
            width: 30px;
            background-color: #e4b4b4;
            border-radius: 4px;
        }
        .variant div:nth-child(4n){
            width: 30px;
            background-color: #222;
        }

        .variant{
            display: flex;
            visibility: hidden;
        }

        .container{
            display: flex;
            height: 300px;
            width: 930px;
            align-items: center;
        }

        .container:hover{
            color:#1192ec;
        }
        .container:hover .variant{
            visibility: visible;
        }
        .container:hover .pro_image{
            visibility: visible;
        }

        .pro_image{
            margin-left: 50px;
            visibility: hidden;  
        }

        .pro_image img{
            width: 300px;
            height: 300px;
            border-radius: 30px;
        }

        .active{
            width: 20px !important;

            border: 5px solid #1192ec;
            
        }